[Unit]
Description=Stop Splash Screen
After=getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pkill psplash
ExecStartPost=/bin/sh -c "/bin/cat /dev/zero >/dev/fb0"

[Install]
WantedBy=getty.target
